body {
  background-color: #14143f;
  padding: 0;
  margin: 0;
  margin-bottom: 150px;
  font-family: "Futura LT";
}

i {
  color: white;
}

/*Removes scrollbar*/
::-webkit-scrollbar {
  display: none;
}
/*Div that blocks error in parallax*/
div#blocker {
  background-color: #14143f;
  width: 100%;
  height: 100vh;
  top: 600px;
  position: absolute;
}
/*Design of loadscreen*/
#load_screen {
  background: #14143f;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height:100vh;
  z-index: 99999;
	display: flex;
  justify-content: center;
  align-items: center;
}
.load_screen_loader {
  display: inline-block;
  width: 90px;
  height: 90px;
  position: relative;
  animation: load_screen_loader 2s infinite ease;
}
@keyframes load_screen_loader {
  100% {
    transform: rotate(360deg);
  }
}
/*navigation*/
/*Show and hide parts of text*/
ul .element_do_show {
  display: none;
}
ul .element_no_show {
  display: inline;
}
/*navigation behaviour*/
ul {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  text-align: left;
  font-size: 0;
  line-height: 0;
  padding: 0;
}
ul a {
  text-decoration: none;
  color: #F3F1E9;
  font-size: 16px;
  line-height: 14px;
  padding: 10px;
  text-transform: uppercase;
}
ul a:hover {
  background-color: #44433E;
  text-decoration: none;
  border_content: 0;
}

ul li, ul a {
  display: inline-block;
}
ul li {
  float: right;
}
ul li#navigation_wrapper_name {
  float: left;
}
ul li#navigation_wrapper_name a {
  font-size: 18px;
  line-height: 14px;
}
ul li#navigation_wrapper_name a:hover {
  color: white;
  background-color: #14143f;
}
ul, ul a {
  background-color: #14143f;
}
ul li a:hover {
  background-color: #1d1e47;
}

/*Parallax*/
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 850px;
}
.parallax-layer {
  width: 100%;
  height: 550px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 1920px 1080px;
}
/*Parallax layers*/
.layer-0 {
  top: 0;
  z-index: 5;
  background-color: white;
  background-size: 3500px 1038px;
}
.layer-1 {
  top: -100px;
  z-index: 5;
  background-image: url(Images/parallax_background.png);
  background-size: 2625px 779px;
}
.layer-2 {
  top: -50px;
  z-index: 10;
  background-image: url(Images/parallax_mountain.png);
  background-size: 2625px 779px;
}
.layer-3 {
  top: -10px;
  z-index: 15;
  background-image: url(Images/parallax_cloud.png);
  background-size: 2625px 779px;
}
.layer-4 {
  top: 65px;
  z-index: 20;
  background-image: url(Images/parallax_foreground.png);
  background-size: 2625px 779px;
}

/*Innehåll*/
#content_spons {
  padding: 20px;
  padding-top: 0px;
  width: 20%;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  float: left;
  text-transform: uppercase;
  padding-bottom: 100px;
}
#content_spons img {
  width: 100%;
  float: right;
}
#content_spons p {
  margin-top: 0;
  text-align: center;
  background: white;
  color: #14143f;
  font-size: 14px;
  padding: 0.5em 1.1em;
}
#content_spons p.content_spons_detail {
  background-color: #14143f;
  color: white;
  font-size: 11px;
  text-transform: none;
}

.element_no_detail {
  text-decoration: none;
  color: white;
}
.element_no_detail:hover {
  text-decoration: underline;
  color: #44433E;
}
p.content_spons_detail a:hover {
  color: #44433E;
  text-decoration: none;
}
div.wrapper_content_gif {
  width: 100%;
}

div.wrapper_content_gif img {
  width: 100%;
  margin: 0;
}
#section1 {
  margin-top: 0;
}
#border_content {
  background-color: #14143f;
  width: 100%;
  position: absolute;
  top: 100vh;
  text-align: justify;
}
div#border_content div.wrapper_content {
  width: 40%;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 0;
}
div#border_content div.wrapper_content span p {
  color: white;
}
div#border_content div.wrapper_content_title {
  margin: 0;
}
div#border_content div.wrapper_content_title p {
  background-color: white;
  padding: .5em 1.1em;
  color: #14143f;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-row {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: center;

}
.flex-row div {
  text-align: center;
  font-size: 30px;
	padding: 5px;
}
.flex-row div img{
	width:150px;
	height:220px;
}
.flex-row div p {
	font-size: 14px;
	margin-top:0;
	color: white;
}

/*Footer*/
footer {
  width: 100%;
  margin: auto;
  min-height: 100px;
  background-color: #14143f;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 50px;
}
footer a {
  margin: 10px;
  display: inline-block;
}

footer img {
  padding-top: 10px;
  width: 30px;
}

footer p {
  margin: 0px;
}

footer .bajs {
  font-size: 10px;
}

/*If screen width <880px*/
@media only screen and (max-width: 880px) {
  ul .element_do_show {
    display: inline;
  }
  ul .element_no_show {
    display: none;
  }
}

/*If screen width <880px*/
@media only screen and (max-width: 630px) {
  ul a {
    padding-left: 5px;
    padding-right: 5px;
  }
  ul.navigation_wrapperigation #navigation_wrapper_name a {
    padding-left: 10px;
    padding-right: 5px;
  }
}

/*If screen width <560px*/
@media only screen and (max-width: 560px) {
  ul b, ul strong, ul b *, ul strong * {
    font-weight: 700;
  }
  ul a {
    padding-left: 3px;
    padding-right: 3px;
  }
}

 /*If screen width <540px*/
@media only screen and (max-width: 540px) {
  body {
    padding-bottom: none !important;
    margin-bottom: none;
  }
  div#border_content {
    top: 750px;
  }
  ul {
    position: absolute;
    top: 560px;
  }
  ul li, ul li#navigation_wrapper_name {
    float: none;
    display: block;
    text-align: center;
  }
  ul a {
    float: none;
    display: block;
    color: #F3F1E9;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    text-transform: uppercase;
  }
  ul .element_no_show {
    display: inline;
  }
  .content {
    top: 250px;
  }
  div#border_content div.wrapper_content {
    width: 60%;
  }
  /*Hide elements*/
  ul .element_do_show {
    display: none;
  }
  .parallax-container script {
    display: none;
  }
  #content_spons {
    display: none;
  }
}
